<script lang="ts" setup>
import { computed, nextTick, onMounted, ref, watch } from 'vue';
import type { VForm } from 'vuetify/components';
import type { Salary } from '@/types/Salary';
import { useSalaryStore } from '@/stores/salary';

const headers = [
    {
        title: 'User Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Full Name',
        key: 'fullName',
        value: 'fullName'
    },
    {
        title: 'Roles',
        key: 'roles',
        value: (item: any | Salary) => item.roles.join(', ')
    },
    {
        title: 'Salary',
        key: 'salary',
        value: 'salary'
    },
    {
        title: 'Status',
        key: 'status',
        value: 'status'
    },
    {
        title: 'Create Date',
        key: 'date',
        value: 'date'
    },
    { title: 'Actions', key: 'actions', sortable: false }
]
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const initilUser: Salary = {
    id: -1,
    email: '',
    password: '',
    fullName: '',
    roles: ['Manager'],
    salary: '',
    status: 'Not Paid',
    date: ''
}
const editedUser = ref<Salary>(JSON.parse(JSON.stringify(initilUser)))

const users = ref<Salary[]>([])
const salaryStore = useSalaryStore()
const salaries = ref(salaryStore.salaries)
let editedIndex = -1
let lastId = 7
function onSubmit() { }

function closeDelete() {
    dialogDelete.value = false
    nextTick(() => {
        editedUser.value = Object.assign({}, initilUser)
    })
}
function deleteItemConfirm() {
    // Delete item from list
    users.value.splice(editedIndex, 1)
    closeDelete()
}

function editItem(item: Salary) {
    editedIndex = users.value.indexOf(item)
    editedUser.value = Object.assign({}, item)
    dialog.value = true
}
function deleteItem(item: Salary) {
    editedIndex = users.value.indexOf(item)
    editedUser.value = Object.assign({}, item)
    dialogDelete.value = true
    // editedIndex = -1
}

function closeDialog() {
    dialog.value = false
    nextTick(() => {
        editedUser.value = Object.assign({}, initilUser)
        editedIndex = -1
    })
}
async function save() {
    const { valid } = await refForm.value!.validate();
    if (!valid) return;
    editedUser.value.date = DateMonthYear.value;
    if (editedIndex > -1) {
        Object.assign(users.value[editedIndex], editedUser.value);
    } else {
        editedUser.value.id = lastId++;
        users.value.push(editedUser.value);
    }

    closeDialog();
}

function initialize() {
    users.value = salaryStore.salaries;
}
onMounted(() => {
    initialize()
    setDate()
})

const paymentSlip = ref('');
const dialogPaymentSlip = ref(false);
let selectedUser = null;

function generatePaymentSlip(item: Salary) {
    if (item.status === "Not Paid") {
        selectedUser = item;
        selectedUser.status = "Paid";
        const usersDetails = [`${selectedUser.fullName}`];
        const usersSalary = [`${selectedUser.salary}`];
        const usersRoles = [`${selectedUser.roles}`];
        const usersCreateDate = [`${selectedUser.date}`];

        // Format the payment slip
        paymentSlip.value = `วันที่ชำระ : ${new Date().toLocaleDateString()}                                                 ชำระเสร็จสิ้น     
ข้อมูลการโอนเงิน:
บัญชีธนาคาร: XXX-XXXXX-XXXX
ธนาคาร: ธนาคารไทยพาณิชย์                            
--------------------------------------------------------------------------------
ชื่อ-นามสกุล : ${usersDetails.join('\n')}  
ตำแหน่ง : ${usersRoles.join('\n')}
--------------------------------------------------------------------------------
เงินเดือน : ${usersSalary.join('\n')}                                                           บาท
--------------------------------------------------------------------------------
จำนวนเงินที่ได้รับ ${usersSalary.join('\n')}                                                       บาท
--------------------------------------------------------------------------------
วันที่สร้าง : ${usersCreateDate.join('\n')}                                                        


`;

        // Open the payment slip dialog
        dialogPaymentSlip.value = true;
    }
}

function closePaymentSlipDialog() {
    // Close the payment slip dialog
    dialogPaymentSlip.value = false;
    selectedUser = null;
}

function payAllUsers() {
    // Update the status for all users without showing a confirmation dialog
    for (const user of users.value) {
        if (user.status === 'Not Paid') {
            user.status = 'Paid';
        }
    }
    // Save the changes
    save();
}

const DateMonthYear = ref('')
const formData = ref({
    endDate: new Date(),
});
const dateMenu = ref(false);
const endDateField = computed(() =>
    formData.value.endDate.toLocaleDateString("en-US", {
        year: "numeric",
        month: "short",
        day: "numeric",
    })


);
const day = ref('')
const month = ref('')
const year = ref('')

const setDate = () => {
    const endDate = formData.value.endDate;

    if (endDate instanceof Date) {
        if (endDate.getDate() < 10) {
            day.value = '0' + endDate.getDate().toString();
        } else {
            day.value = endDate.getDate().toString();
        }

        if (endDate.getMonth() + 1 < 10) {
            month.value = '0' + (endDate.getMonth() + 1).toString();
        } else {
            month.value = (endDate.getMonth() + 1).toString();
        }

        year.value = endDate.getFullYear().toString();

        DateMonthYear.value = year.value + "-" + month.value + "-" + day.value


    }
}

const fullnameOptions = ['Wanwadee Noijaroen', 'Nawapol Kotechai', 'Tanakorn Pummala', 'Surapitch Kongthong', 'Peerada Wangyaichim', 'User1'];
watch(() => editedUser.value.fullName, (newFullName) => {
    // ค้นหาผู้ใช้ที่ถูกเลือกขึ้นอยู่กับ fullName
    const selectedUser = users.value.find((user) => user.fullName === newFullName);

    // อัปเดต roles และ salary หากพบผู้ใช้
    if (selectedUser) {
        editedUser.value.roles = selectedUser.roles;
        editedUser.value.salary = selectedUser.salary;
    }
});
</script>
<template>
    <div>
        <v-data-table :headers="headers" :items="users">
            <template v-slot:top>
                <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Payment Salary</v-toolbar-title>

                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <!-- Put Edited Dialog -->
                    <v-dialog v-model="dialog" persistent width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn color="white" style="background-color: rgb(1, 179, 19)" @click="payAllUsers"
                                variant="outlined">
                                Pay All
                            </v-btn>

                            <v-btn color="white" style="background-color: rgb(255, 182, 55);" v-bind="props">
                                <v-icon left>mdi-plus-box</v-icon> Create
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title style="background-color: rgb(255, 188, 63)">
                                <span class="text-h5">User</span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="4">
                                                <v-select v-model="editedUser.fullName" :items="fullnameOptions"
                                                    label="Select Fullname" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2"></v-select>
                                            </v-col>
                                            <v-col cols="12" sm="4">
                                                <v-combobox v-model="editedUser.roles[0]" :items="['Manager', 'Employee']"
                                                    label="Select roles"></v-combobox>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedUser.salary" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Salary"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedUser.status" :readonly="loading" class="mb-2"
                                                    clearable label="Status" disabled></v-text-field>
                                            </v-col>
                                            <v-col cols="4"><v-menu v-model="dateMenu" :close-on-content-click="false">
                                                    <template #activator="{ props }">
                                                        <v-text-field v-model="endDateField" label="Date Check" readonly
                                                            v-bind="props"></v-text-field>
                                                    </template>
                                                    <v-date-picker v-model="formData.endDate" color="orange"
                                                        show-adjacent-months
                                                        @update:model-value="dateMenu = false"></v-date-picker>
                                                </v-menu></v-col>
                                        </v-row>
                                    </v-container>

                                </v-form>
                                <small>*Indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDialog()">
                                    Close
                                </v-btn>
                                <v-btn color="orange" variant="text" @click="save()">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- Delete Dialog -->
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">

                <v-row>
                    <v-col>
                        <v-icon size="small" class="me-2" @click="editItem(item)">
                            mdi-pencil
                        </v-icon>
                        <v-icon size="small" @click="deleteItem(item)">
                            mdi-delete
                        </v-icon>
                    </v-col>

                    <v-col><v-btn @click="generatePaymentSlip(item)" size="small" color="green"
                            :disabled="item.status === 'Paid'">
                            Payment
                        </v-btn></v-col>
                </v-row>


                <!-- Payment Slip Dialog -->
                <v-dialog v-model="dialogPaymentSlip" max-width="800px">
                    <v-card>
                        <v-col cols="12" class="d-flex justify-center">
                            <v-img src="../../../public/img/logo/logo-black.png" width="150" height="150">
                            </v-img></v-col>
                        <v-card-title class="text-h5 text-center">สลิปเงินเดือน / Pay Slip</v-card-title>
                        <v-card-text>
                            <pre>{{ paymentSlip }}</pre>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="orange" variant="text" @click="closePaymentSlipDialog">
                                Close
                            </v-btn>
                            <v-btn color="orange" variant="text" @click="closePaymentSlipDialog">
                                Save
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
    </div>
</template> 