<script lang="ts" setup>
import { computed, nextTick, onMounted, provide, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import type { User, Role } from '@/types/User'

import type { CheckStock } from '@/types/CheckStock';

import { useCheckStockStore } from '@/stores/checkStock';


import CheckStockDialog from './CheckStockDialog.vue';




const checkStockStore = useCheckStockStore()
const headers = [
    {
        title: 'Check ID',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Check By',
        key: 'user',
        value: 'user'
    },
    {
        title: 'Check Date',
        key: 'date',
        value: 'date'
    },
    {
        title: 'Check Time',
        key: 'time',
        value: 'time'
    },

    { title: 'Actions', key: 'actions', sortable: false }
]

const detailHeaders = [
    {
        title: 'No.',
        key: 'no',
        value: 'no'
    }, {
        title: 'Check ID.',
        key: 'checkStockId',
        value: 'checkStockId'
    },
    {
        title: 'Material',
        key: 'material',
        value: 'material'
    },
    {
        title: 'Check Last',
        key: 'checkLast',
        value: 'checkLast'
    },
    {
        title: 'Check Remain',
        key: 'checkRemain',
        value: 'checkRemain'
    }
];

function newCheckStock() {
    checkStockStore.newCheckStock()
}




const dialog = ref(false)
const dialogDelete = ref(false)





const indexToRemove = ref<number>()
function removeChkStk(item: CheckStock) {
    indexToRemove.value = checkStockStore.checkStockData.findIndex(itemInArray => itemInArray.id === item.id);
    dialogDelete.value = true
    const lastIndex = checkStockStore.checkStockData.length - 1
    if (item === checkStockStore.checkStockData[lastIndex]) {
        checkStockStore.confirmDelete()
    }
    // if (indexToRemove.value !== -1) {
    //     dialog.value = true
    // }
}
function closeDelete() {
    dialogDelete.value = false
    // nextTick(() => {
    //     editedUser.value = Object.assign({}, initilUser)
    // })
}
function deleteItemConfirm() {

    nextTick(() => {
        if (indexToRemove.value !== undefined && indexToRemove.value !== -1) {
            checkStockStore.checkStockData.splice(indexToRemove.value, 1);
            closeDelete();
        }
    });
}

// function editItem(item: User) {
//     editedIndex = users.value.indexOf(item)
//     editedUser.value = Object.assign({}, item)
//     dialog.value = true
// }
// function deleteItem(item: User) {
//     editedIndex = users.value.indexOf(item)
//     editedUser.value = Object.assign({}, item)
//     dialogDelete.value = true
//     editedIndex = -1
// }


const checkStockMockup = ref<CheckStock[]>([])
onMounted(() => {
    checkStockMockup.value = checkStockStore.checkStockData
})


</script>
<template>
    <div>
        <v-data-table :headers="headers" :items="checkStockMockup" show-expand>
            <template v-slot:top>
                <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>CheckStock</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>

                    <v-btn color="white" style="background-color: rgb(255, 182, 55);" @click="newCheckStock()">
                        <v-icon left>mdi-package-variant-plus</v-icon>CheckStock New</v-btn>

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>

            <template v-slot:[`item.actions`]="{ item }">
                <!-- <v-icon size="small" class="me-2">

                    mdi-pencil
                </v-icon> -->
                <v-icon size="small" @click="removeChkStk(item)">

                    mdi-delete
                </v-icon>
            </template>

            <template v-slot:expanded-row="{ columns, item }">
                <tr>
                    <td :colspan="columns.length">
                        <v-data-table-virtual :headers="detailHeaders" :items="item.details" density="compact"
                            hide-default-footer>
                            <template v-slot:no-data>
                                No details available
                            </template>
                            <template v-slot:item="{ index, item: detail }">
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ detail.checkStockId }}</td>
                    <td>{{ detail.material }}</td>
                    <td>{{ detail.checkLast }}</td>
                    <td>{{ detail.checkRemain }}</td>
                </tr>
            </template>
            </v-data-table-virtual>
            </td>
            </tr>
            </template>

            <template v-slot:no-data>
                <v-btn color="primary">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
    </div>
    <CheckStockDialog></CheckStockDialog>
</template>