<script setup lang="ts">
import { ref } from 'vue'

import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'

import MemberView from '../MemberView.vue';
import MemberDialog from './MemberDialog.vue'
import  PromotionDialog from './PromotionDialog.vue';
import { usePromotionStore } from '@/stores/promotion';


const tel = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
function onClick() {
    memberStore.searchMember(tel.value)
    receiptStore.calReceipt()
    promotionStore.canUsePromotion =true
}
const openDialogRegister = () =>{
    memberStore.newMember()
}

const promotionStore = usePromotionStore()
const openPromotionDialog = () =>{
    if(tel.value!==undefined){promotionStore.promotionDialog = true }
    else {alert('กรุณากรอกเบอร์สมาชิกเพื่อดำเนินการถัดไป')}
    
}

</script>
<template>
    <v-container style="background-color: whitesmoke">
        <v-row no-gutters>
            <v-col cols="6"><v-text-field v-model="tel" density="compact" variant="solo" label="กรอกหมายเลขโทรศัพท์สมาชิก"
                    append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
                    @keyup.enter="onClick"></v-text-field></v-col>
            <v-col cols="1"></v-col>
            <v-col id="callMem" cols="5" class="pa-2 text-left">Member Name :{{
                memberStore.currentMember ? memberStore.currentMember?.name : 'ไม่พบ'
            }}</v-col>
        </v-row>
        <v-row no-gutters style="padding-top: 6px;">
            <v-col cols="6" density="compact">
                <v-row>
                    <v-col cols="6" ><v-btn block rounded="l" class="color-btn" size="default" @click="openDialogRegister()">สมัครสมาชิก</v-btn> </v-col>
                    <v-col cols="6"><v-btn block rounded="l" class="color-btn" size="default" @click="openPromotionDialog()" :disabled="!promotionStore.canUsePromotion">โปรโมชั่น</v-btn></v-col>
                    

                
                </v-row>
            </v-col>
            <v-col cols="1"></v-col>
            <v-col cols="5" class="pa-2 text-left" no-gutters>Member Point :
                {{ memberStore.currentMember?.point ? memberStore.currentMember?.point : 0 }}</v-col>
        </v-row>
    </v-container>
    <MemberDialog></MemberDialog>
    <PromotionDialog></PromotionDialog>
</template>

<style>
.color-btn {
    background-color: #FFB517;
}
</style>