<script lang="ts" setup>
import type { Member } from '@/types/Member';
import { nextTick, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useMemberStore } from '@/stores/member';
// const form = ref(false)
// const refForm = ref<VForm | null>(null)
// const dialog = ref(false)
// const loading = ref(false)
const initilMember: Member = {
    id: -1,
    name: '',
    tel: '',
    point: 0
}
const editedMember = ref<Member>(JSON.parse(JSON.stringify(initilMember)))
const memberStore = useMemberStore()
const Customer = ref<Member[]>([])
let editedIndex = -1
let lastId = memberStore.members.length
function onSubmit() { }
function closeDialog() {
    memberStore.memDialog = false
    nextTick(() => {
        editedMember.value = Object.assign({}, initilMember)
        editedIndex = -1
    })
}

async function save() {

    const newMember  = ref<Member>({
    id: 0,
    name: '',
    tel: '',
    point: 0
})

    newMember.value.id = memberStore.members.length+1
    newMember.value.name = editedMember.value.name
    newMember.value.tel = editedMember.value.tel

    memberStore.createMemberNew(newMember.value)
    closeDialog()
}
// function initialize(){
//     Customer.value = memberStore.members
// }
// onMounted(() => {
//     initialize()
    
// })




</script>
<template>
                    <v-dialog width="1024" v-model="memberStore.memDialog" persistent>

                        <v-card>
                            <v-card-title style="background-color: rgb(255, 188, 63)">
                                <span class="text-h5">Member</span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="refForm"  @submit.prevent="onSubmit">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="12" md="6">
                                                <v-text-field v-model="editedMember.name" 
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Name"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="6">
                                                <v-text-field v-model="editedMember.tel" 
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Tel"></v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>

                                </v-form>
                                <small>*Indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDialog()">
                                    Close
                                </v-btn>
                                <v-btn color="orange" variant="text" @click="save()">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                 
</template>