<script setup lang="ts">
import { type Product } from '@/types/Product'
import { products1, products2, products3, products4 } from './ProductData'
import { type ReceiptItem } from '@/types/ReceiptItem'
import ReceiptDialog from './ReceiptDialog.vue';
import ReceiptCard from './ReceiptCard.vue'
import PromptPayDialog from './PromptPayDialog.vue';


import { nextTick, onMounted, ref, provide } from 'vue'

import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import MemberCard from './MemberCard.vue';

import { } from 'vue'

const dialog = ref(false)
provide('receiptDialog', dialog)

import { useReceiptStore } from '@/stores/receipt'
import { usePromotionStore } from '@/stores/promotion';


const receiptStore = useReceiptStore()
const divReceiptItems = ref<HTMLElement | null>(null)

const promotionStore = usePromotionStore()

const showReceipt = function () {
    if(receiptStore.receipt.receiveAmount<receiptStore.receipt.total &&receiptStore.ppSelected===0){
        alert('กรุณาใส่จำนวนเงินให้ถูกต้อง')
    }else if(receiptStore.ppSelected===1){
        receiptStore.receipt.receiveAmount=receiptStore.receipt.total
        receiptStore.openPromptPay()
        console.log("PointDe"+promotionStore.pointDelete)
    }
    else{
        receiptStore.showReceiptDialog()
    }
    
}
const clearReceipt = function () {
    receiptStore.clear()
}

const selected = (p: Product) => {
    receiptStore.addReceiptItem(p)
    if (divReceiptItems.value) {
        divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
    }
    nextTick(() => {
        if (divReceiptItems.value) {
            divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
        }
    })
}

const tab = ref(4)
onMounted(() => {
    nextTick(() => {
        if (divReceiptItems.value) {
            divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
        }
        tab.value = 4
    })
})
</script>

<template>
    <v-container style="max-width: 1500px">
        <v-row style="background-color: papayawhip">
            <v-col cols="12" md="6">
                <v-sheet min-width="500" max-width="1000" height="797" elevation="6" style="background-color: whitesmoke">
                    <v-row no-gutters><v-col cols="7.5" no-gutters>
                            <v-row no-gutters>
                                <v-col cols="3">
                                    <v-tabs v-model="tab" color="brown" align-tabs="center">
                                        <v-tab :value="4"><span class="mdi mdi-ballot-outline"></span>All</v-tab>
                                    </v-tabs></v-col>
                                <v-col cols="9"></v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="6" no-gutters>
                            <v-tabs v-model="tab" color="brown" align-tabs="center">
                                <v-tab :value="1"><span class="mdi mdi-coffee-maker"></span>Coffee</v-tab>
                                <v-tab :value="2"><span class="mdi mdi-tea"></span>Tea</v-tab>
                                <v-tab :value="3"><span class="mdi mdi-cupcake"></span>Dessert</v-tab>
                            </v-tabs></v-col></v-row>
                    <v-row no-gutters><v-col cols="12">
                            <v-window v-model="tab">
                                <v-window-item :value="1">
                                    <ProductList :products="products1" @selectedProduct="selected"> </ProductList>
                                </v-window-item>
                                <v-window-item :value="2">
                                    <ProductList :products="products2" @selectedProduct="selected"> </ProductList>
                                </v-window-item>
                                <v-window-item :value="3">
                                    <ProductList :products="products3" @selectedProduct="selected"> </ProductList>
                                </v-window-item>
                                <v-window-item :value="4">
                                    <ProductList :products="products4" @selectedProduct="selected"> </ProductList>
                                </v-window-item>
                            </v-window> </v-col></v-row>
                </v-sheet>
            </v-col>
            <v-col cols="12" md="6">
                <v-container style="padding: 0%">
                    <v-row>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="700" elevation="6" height="300">
                                <div ref="divReceiptItems"
                                    style="height: 300px; overflow: auto; background: transparent; padding: 0; margin: 0;">
                                    <v-sheet tile>
                                        <ReceiptDetailTable></ReceiptDetailTable>
                                    </v-sheet>
                                </div>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="700" height="230" elevation="6">
                                <ReceiptCard></ReceiptCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="700" height="115" elevation="6">
                                <MemberCard></MemberCard>

                            </v-sheet>
                        </v-col>
                        <v-col>
                            <v-sheet cols="12" min-width="300" max-width="700" height="80" elevation="6"
                                style="background-color: papayawhip">
                                <v-container no-gutters>
                                    <v-row>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" size="large" @click="clearReceipt()"
                                                style="background-color: rgba(255, 85, 24, 0.868); color: white;">Cancel</v-btn>
                                        </v-col><v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" color="primary" size="large"
                                                @click="showReceipt()">Payment</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
        </v-row>
    </v-container>
    <ReceiptDialog></ReceiptDialog>
    <PromptPayDialog></PromptPayDialog>
</template>
