<script setup lang="ts">
import { useMemberStore } from '@/stores/member';
import { usePromotionStore } from '@/stores/promotion';
import { useReceiptStore } from '@/stores/receipt';
import { onMounted } from 'vue';
import { ref } from 'vue';

const promotionStore = usePromotionStore()
const promotionSelect = ref()

const memberStore = useMemberStore()

const pmtDatas = ref<string[]>([])
onMounted(() => {
    for (const item of promotionStore.promotionDatas) {
        pmtDatas.value.push(item.name)
        console.log(pmtDatas.value)
    }
})
const receiptStore = useReceiptStore()
const selectPromotion = () => {
    if(memberStore.currentMember){
        if(promotionStore.promotionSelected==='20 Point Get 10% Discount'){
            if(memberStore.currentMember.point<20){
          alert('จำนวนแต้มของคุณไม่สามารถใช้ร่วมกับโปรโมชั่นนี้ได้')
          receiptStore.clear()
        }
      }
      if(promotionStore.promotionSelected==='10 Point Get 1 Free'){
        if(memberStore.currentMember.point<10){
          alert('จำนวนแต้มของคุณไม่สามารถใช้ร่วมกับโปรโมชั่นนี้ได้')
          receiptStore.clear()
        }
      }
    }
    promotionSelect.value = promotionStore.promotionSelected
    if (promotionSelect.value !== undefined) {
        promotionStore.promotionSelected = promotionSelect.value
        
        
        receiptStore.calReceipt()
        promotionStore.usePromotion = false
        promotionStore.promotionDialog = false
        
        
    }else{
        alert('กรุณาเลือกโปรโมชั่น หรือดำเนินการจ่ายเงิน')
        promotionStore.promotionDialog = false
    }

}
const closeDialog= ()=>{
    promotionStore.promotionDialog=false
}

</script>

<template>
    <v-dialog width="500" v-model="promotionStore.promotionDialog">
        <v-card style="background-color: rgb(255, 197, 90);">
            <v-container></v-container>
            <v-container style="background-color: rgb(255, 255, 255);width: 400px;padding: ;">
                <v-card-title class="text-h5">Promotion</v-card-title>
                <v-select v-model="promotionStore.promotionSelected" :items="pmtDatas" label="Promotion" hint="Choose Promotion For Member."
                    persistent-hint></v-select>
                
                
                <v-row>
                    <v-col cols="3"></v-col>
                    <v-col cols="3"><v-btn @click="selectPromotion()">Select</v-btn></v-col>

                    <v-col cols="3"><v-btn @click="closeDialog">Close</v-btn></v-col>
                    <v-col cols="3"></v-col>
                </v-row>
            </v-container>
            <v-container></v-container>
        </v-card>
    </v-dialog>
</template>