<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'

const receiptStore = useReceiptStore()
</script>

<template>
  <v-table>
    <thead style="background-color: rgba(255, 174, 23, 0.788)">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Sub Category</th>
        <th>Sweet Level</th>
        <th>Price</th>
        <th>Unit</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="background-color: whitesmoke">
      <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.id">
        <td>{{ index + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.subCategory }}</td>
        <td>{{ item.sweetLevel }}</td>
        <td>{{ item.price }}</td>
        <td style="font-size: medium">
          <v-btn icon="mdi-minus" density="compact" @click="receiptStore.dec(item)"></v-btn>{{ item.unit }}
          <v-btn icon="mdi-plus" density="compact" @click="receiptStore.inc(item)"></v-btn>
        </td>
        <td>{{ item.unit * item.price }}</td>
        <td><v-btn icon="mdi-delete" @click="receiptStore.removeReceiptItem(item)" density="compact"></v-btn></td>
      </tr>
    </tbody>
  </v-table>
</template>
