<script lang="ts" setup>
import { useReceiptStore } from '@/stores/receipt';
import type { Receipt } from '@/types/Receipt';
import receiptDialog from './ReceiptDialog.vue'

const receiptStore = useReceiptStore()

const headers = [
    {
        title: 'No.',
    },
    {
        title: 'Created Date',
    },
    {
        title: 'User',
    },{
        title: 'Member',
    },{
        title: 'Total Before',
    },{
        title: 'Discount',
    },{
        title: 'Total',
    },{
        title: 'Receive Money',
    },
    {
        title: 'Payment Type',
    },{title: 'Actions'}

]
function formatTime(date: Date): string {
    const day = date.getDate().toString().padStart(2, '0')
    const month = date.getMonth().toString().padStart(2, '') + 1
    const year = date.getFullYear().toString()
    const hours = date.getHours().toString().padStart(2, '0');
    const minutes = date.getMinutes().toString().padStart(2, '0');
    return `${day}/${month}/${year} ${hours}:${minutes} น.`;
}

const watchReceiptHistory=(receipt:Receipt) => {
    console.log('BUGFROMFORM')
    receiptStore.seeReceiptHistory(receipt)
    console.log('SendSuccess')
    console.log(receipt.memberPoint)
}


</script>
<template>
    <div>
        <v-data-table :headers="headers" :items="receiptStore.receiptDatas" show-expand>
            <template v-slot:top>
                <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Receipt History</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>


                </v-toolbar>
            </template>

            <template v-slot:item="{ item, index }">
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{formatTime(item.createDate)}}</td>
                    <td>{{ item.user?.fullName }}</td>
                    <td>{{ item.member?.name }}</td>
                    <td>{{ item.totalBefore }}</td>
                    <td>{{ item.memberDiscount }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.receiveAmount }}</td>
                    <td>{{ item.paymentType }}</td>
                    <td><v-icon size="small" class="me-2" @click="watchReceiptHistory(item)">mdi-eye</v-icon></td>

                </tr>
            </template>



            <template v-slot:no-data>
                <v-btn color="primary">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
    </div>
    <receiptDialog></receiptDialog>
</template>
