<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
import { useMemberStore } from '@/stores/member';
import { useReceiptStore } from '@/stores/receipt'
import { onMounted } from 'vue';
import { computed, inject, ref, type Ref } from 'vue'

const receiptStore = useReceiptStore()
const authStore = useAuthStore()


const formData = ref({
  endDate: new Date(),
});

const day = ref('')
const month = ref('')
const year = ref('')
onMounted(() => {
  const endDate = formData.value.endDate;

  if (endDate instanceof Date) {
    if (endDate.getDate() < 10) {
      day.value = '0' + endDate.getDate().toString();
    } else {
      day.value = endDate.getDate().toString();
    }

    if (endDate.getMonth() + 1 < 10) {
      month.value = '0' + (endDate.getMonth() + 1).toString();
    } else {
      month.value = (endDate.getMonth() + 1).toString();
    }

    year.value = endDate.getFullYear().toString();


  }
})
const memberStore = useMemberStore()

function formatTime(date: Date): string {
    const hours = date.getHours().toString().padStart(2, '0');
    const minutes = date.getMinutes().toString().padStart(2, '0');
    return `${hours}:${minutes} น.`;
}

</script>

<template>
  <v-dialog v-model="receiptStore.receiptDialog" preceiptStoreersistent width="400">
    <v-card>

      <v-card-title class="text-h5"> Receipt </v-card-title>

      <v-card-text>
        <v-row>
          <v-col cols="12" class="d-flex justify-center">

            <v-img src="../../../public/img/logo/logo-black.png" width="160" height="160">

            </v-img></v-col>

          <v-col cols="12">Receipt ID : {{ receiptStore.receipt.id + 1 }}</v-col>
          <v-col cols="12">POS ID : 0000000001</v-col>
          <v-col cols="12">User : {{ authStore.userLogin.currentUser.fullName }}</v-col>
          <v-col cols="12">Member : {{ receiptStore.receipt.member?.name }}</v-col>
          <v-col cols="6">Time : {{formatTime(formData.endDate)}} </v-col>
          <v-col cols="6">Date : {{ day }}-{{ month }}-{{ year }}</v-col>
          
        </v-row><v-divider></v-divider>
        <v-container>
          <v-table>
            <thead>
              <tr>
                <th>จำนวน</th>
                <th>รายการสินค้า</th>
                <th>ราคา</th>
                <th>ราคารวม</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of receiptStore.receiptItems" :key="item.id">
                <td>{{ item.unit }}</td>
                <td>{{ item.product?.name }} {{ item.subCategory }} {{ item.sweetLevel }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.price * item.unit }}</td>

              </tr>
            </tbody>

          </v-table>
          <v-divider></v-divider>
          <v-row>
            <v-col cols="6" class="text-h6"> ยอดรวม</v-col><v-col cols="6" style="text-align: right;margin-right: px;">{{
              receiptStore.receipt?.total }} </v-col>
            <v-col cols="6"> ยอดก่อนหัก</v-col><v-col cols="6" style="text-align: right;margin-right: px;"> {{
              receiptStore.receipt?.totalBefore }}
            </v-col>
            <v-col cols="6"> ส่วนลดสมาชิก</v-col><v-col cols="6" style="text-align: right;margin-right: px;">{{
              receiptStore.receipt?.memberDiscount }} </v-col>

            <v-col cols="6">ได้รับแต้ม</v-col><v-col v-if="receiptStore.receipt.member!==undefined" cols="6" style="text-align: right;margin-right: px;">{{receiptStore.receipt.point }}</v-col>
            <v-col cols="6" v-if="receiptStore.receipt.member===undefined"></v-col>
            <v-col cols="6"> จำนวนแต้มคงเหลือ</v-col><v-col cols="6" style="text-align: right;margin-right: px;">{{
              receiptStore.receipt.memberPoint }}
            </v-col>
            <v-col cols="6"> ชำระ {{ receiptStore.receipt.paymentType }}</v-col><v-col cols="6"
              style="text-align: right;margin-right: px;">{{
                receiptStore.receipt.receiveAmount }} </v-col>
            <v-col cols="6"> เงินทอน</v-col><v-col cols="6" style="text-align: right;margin-right: px;">{{
              receiptStore.receipt.receiveAmount - receiptStore.receipt?.total }} </v-col>

          </v-row>





          <!-- <v-table>
    <thead style="background-color: rgba(255, 174, 23, 0.788)">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Sub Category</th>
        <th>Sweet Level</th>
        <th>Price</th>
        <th>Unit</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="background-color: whitesmoke">
      <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.id">
        <td>{{ index + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.subCategory }}</td>
        <td>{{ item.sweetLevel }}</td>
        <td>{{ item.price }}</td>
        <td style="font-size: medium">
          <v-btn icon="mdi-minus" density="compact" @click="receiptStore.dec(item)"></v-btn>{{ item.unit }}
          <v-btn icon="mdi-plus" density="compact" @click="receiptStore.inc(item)"></v-btn>
        </td>
        <td>{{ item.unit * item.price }}</td>
        <td><v-btn icon="mdi-delete" @click="receiptStore.removeReceiptItem(item)" density="compact"></v-btn></td>
      </tr>
    </tbody>
  </v-table> -->
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        
        <v-btn color="green-darken-1"  variant="text" @click="() => {
          receiptStore.receiptDialog = false
          receiptStore.clear()
        }
          ">
          เสร็จสิ้น
        </v-btn>
      </v-card-actions>
  </v-card>
</v-dialog></template>
