<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { useMemberStore } from '@/stores/member'
import { onUpdated, watch } from 'vue'
import { onMounted } from 'vue'
import { ref } from 'vue'
import { computed } from 'vue'

const receiptStore = useReceiptStore()
const selectPayment = ref<string[]>(['Cash', 'Promptpay'])
//0Cash 1Promptpay




onMounted(() => {
    receiptStore.selectedPayment = 'Cash'
})
onUpdated(()=>{
    receiptStore.selectedPayment
})







</script>

<template>
    <v-container class="text-body-2">
        <!-- style="background-color: whitesmoke" -->
        <v-row no-gutters style="margin: 0px">
            <v-col cols="2"> ยอดก่อนหัก </v-col>
            <v-col cols="2" ref="totalBefore" >
                {{ receiptStore.receipt?.totalBefore }}
            </v-col>
            <v-col cols="2">บาท</v-col>
            <v-col cols="6">
                <v-select label="วิธีการชำระเงิน" id="selectPay" v-model="receiptStore.selectedPayment" :items="selectPayment"
                    density="compact" variant="underlined"></v-select>
            </v-col>
        </v-row>
        <v-row no-gutters style="margin-bottom: 20px">
            <v-col cols="2"> ส่วนลดสมาชิก </v-col>
            <v-col cols="2">
                {{ receiptStore.receipt?.memberDiscount }}
            </v-col>
            <v-col cols="2">บาท</v-col>
            <v-col cols="2">ได้รับแต้ม</v-col>
            <v-col cols="2">{{ receiptStore.point }} </v-col>
            <v-col cols="2">แต้ม</v-col>
        </v-row>

        <v-row no-gutters>
            <v-col cols="2" style="margin-top: 10px">จำนวนเงิน</v-col>
            <v-col cols="2">
                <v-text-field v-model="receiptStore.receiveMoney" density="compact" style="margin: 0%; font-size: 6px" type="number"
                    step="0.01"></v-text-field>
            </v-col>

            <v-col cols="2" style="margin-top: 10px">บาท</v-col>

            <v-col cols="2" style="margin-top: 10px">จำนวนแต้ม</v-col>
            <v-col cols="2" style="margin-top: 10px">{{ receiptStore.pointCurrentMember }}</v-col>
            <!-- <v-col cols="2">{{ memberStore.currentMember?.point + receiptStore.receiptItems.length }}</v-col> -->
            <v-col cols="2" style="margin-top: 10px">แต้ม</v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="2">ยอดรวม</v-col>
            <v-col cols="2"> {{ receiptStore.receipt?.total }} </v-col>
            <v-col cols="2">บาท</v-col>
            <v-col cols="2">เงินทอน</v-col>
            <v-col cols="2">{{ receiptStore.receiveMoney - receiptStore.receipt?.total }}</v-col>
            <v-col cols="2">บาท</v-col>
        </v-row>
    </v-container>
</template>
