<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useAuthStore } from '@/stores/auth';

const visible = ref(false);
const router = useRouter();
const authStore = useAuthStore();
const loading = ref(false)
const email = ref('')
const password = ref('')
const chkPassword = ref(true)
const showError = ref(false)

const login = async () => {
    if (!email.value || !password.value) {
        showError.value = false;
        return;
    }
    chkPassword.value = authStore.methods.checkUser(email.value, password.value);
    if (!chkPassword.value) {
        showError.value = true;
    } else {
        authStore.methods.clearUser();
        router.push('/');
    }
}
</script>

<template>
    <div>
        <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="448" rounded="lg">
            <div class=" text-center" style="font-size: 24px;"><v-icon>mdi-account-circle</v-icon><br>LOGIN</div>
            <br>
            <div class="text-subtitle-1 text-medium-emphasis">Email</div>
            <v-text-field v-model="email" density="compact" placeholder="Email address"
                prepend-inner-icon="mdi-email-outline" variant="outlined" :readonly="loading"
                :rules="[(v) => !!v || 'Field is required']"></v-text-field>

            <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
                Password
                <a class="text-caption text-decoration-none text-blue" href="#" rel="noopener noreferrer" target="_blank">
                    Forgot login password?
                </a>
            </div>

            <v-text-field v-model="password" :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                :type="visible ? 'text' : 'password'" density="compact" placeholder="Enter your password"
                prepend-inner-icon="mdi-lock-outline" variant="outlined" @click:append-inner="visible = !visible"
                :readonly="loading" :rules="[(v) => !!v || 'Field is required']"></v-text-field>
            <br>

            <v-btn block class="mb-8" color="orange" size="large" variant="elevated" @click="login">
                <span class="text-white">Log In</span>
            </v-btn>
        </v-card>
    </div>
</template>