<script lang="ts" setup>
import type { Member } from '@/types/Member';
import { nextTick, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useMemberStore } from '@/stores/member';


const search = ref<string>('');

const headers = [
    {
        title: 'Member Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Name',
        key: 'name',
        value: 'name'
    },
    {
        title: 'Tel',
        key: 'tel',
        value: 'tel'
    },
    {
        title: 'Point',
        key: 'point',
        value: 'point'
    },
    { title: 'Actions', key: 'actions', sortable: false }
]
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const loading = ref(false)
const dialogDelete = ref(false)

const initilMember: Member = {
    id: -1,
    name: '',
    tel: '',
    point: 0
}
const editedMember = ref<Member>(JSON.parse(JSON.stringify(initilMember)))

const memberStore = useMemberStore()
const customer = memberStore.members
// Store Member

const Customer = ref<Member[]>([])
let editedIndex = -1
let lastId = memberStore.members.length + 1
function onSubmit() { }

function closeDelete() {
    dialogDelete.value = false
    nextTick(() => {
        editedMember.value = Object.assign({}, initilMember)
    })
}
function deleteItemConfirm() {
    // Delete item from list
    Customer.value.splice(editedIndex, 1)
    closeDelete()
}

function editItem(item: Member) {
    editedIndex = Customer.value.indexOf(item)
    editedMember.value = Object.assign({}, item)
    dialog.value = true
}

function deleteItem(item: Member) {
    editedIndex = Customer.value.indexOf(item)
    editedMember.value = Object.assign({}, item)
    dialogDelete.value = true
}
function closeDialog() {
    dialog.value = false
    nextTick(() => {
        editedMember.value = Object.assign({}, initilMember)
        editedIndex = -1
    })
}

async function save() {
    console.log(memberStore.members.length)
    const { valid } = await refForm.value!.validate()
    if (!valid) return
    if (editedIndex > -1) {
        Object.assign(Customer.value[editedIndex], editedMember.value)
    } else {
        editedMember.value.id = lastId++
        Customer.value.push(editedMember.value)
    }
    closeDialog()
}

function initialize() {
    Customer.value = memberStore.members
}
onMounted(() => {
    initialize();
});


</script>

<template>
    <div>
        <v-data-table :headers="headers" :items="Customer" :search="search">
            <template v-slot:top>
                <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Member</v-toolbar-title>
                    <v-spacer></v-spacer>

                    <!-- Search bar -->

                    <v-text-field style="background-color: #ffffff; max-width: 300px; margin: 10px;" v-model="search"
                        label="Search" prepend-inner-icon="mdi-magnify" single-line variant="outlined" hide-details>
                    </v-text-field>

                    <!-- Put Edited Dialog -->

                    <v-dialog v-model="dialog" persistent width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn color="white" style="background-color: rgb(255, 182, 55);" v-bind="props">
                                <v-icon left>mdi-account-plus</v-icon> New Member
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title style="background-color: rgb(255, 188, 63)">
                                <span class="text-h5">Member</span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="12" md="6">
                                                <v-text-field v-model="editedMember.name" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Name"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="6">
                                                <v-text-field v-model="editedMember.tel" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Tel"></v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>

                                </v-form>
                                <small>*Indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDialog()">
                                    Close
                                </v-btn>
                                <v-btn color="orange" variant="text" @click="save()">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- Delete Dialog -->
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
                <v-icon size="small" class="me-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon size="small" @click="deleteItem(item)">
                    mdi-delete
                </v-icon>

            </template>
            <!-- <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">
                    Reset
                </v-btn>
            </template> -->
        </v-data-table>

    </div>
</template>
