<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import type { User, Role } from '@/types/User'
import { useUserStore } from '@/stores/user';

const headers = [
    {
        title: 'User Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Email',
        key: 'email',
        value: 'email'
    },
    {
        title: 'Full Name',
        key: 'fullName',
        value: 'fullName'
    },
    {
        title: 'Roles',
        key: 'roles',
        value: (item: any | User) => item.roles.join(', ')
    },
    {
        title: 'Salary',
        key: 'salary',
        value: 'salary'
    },
    { title: 'Actions', key: 'actions', sortable: false }
]
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const initilUser: User = {
    id: -1,
    email: '',
    password: '',
    fullName: '',
    roles: ['Manager'],
    salary: '',
}
const editedUser = ref<User>(JSON.parse(JSON.stringify(initilUser)))

const userStore = useUserStore()
const users = ref(userStore.users)
let editedIndex = -1
let lastId = 7
function onSubmit() { }

function closeDelete() {
    dialogDelete.value = false
    nextTick(() => {
        editedUser.value = Object.assign({}, initilUser)
    })
}
function deleteItemConfirm() {
    // Delete item from list
    users.value.splice(editedIndex, 1)
    closeDelete()
}

function editItem(item: User) {
    editedIndex = users.value.indexOf(item)
    editedUser.value = Object.assign({}, item)
    dialog.value = true
}
function deleteItem(item: User) {
    editedIndex = users.value.indexOf(item)
    editedUser.value = Object.assign({}, item)
    dialogDelete.value = true
    // editedIndex = -1
}
function closeDialog() {
    dialog.value = false
    nextTick(() => {
        editedUser.value = Object.assign({}, initilUser)
        editedIndex = -1
    })
}
async function save() {
    const { valid } = await refForm.value!.validate()
    if (!valid) return
    if (editedIndex > -1) {
        Object.assign(users.value[editedIndex], editedUser.value)
    } else {
        editedUser.value.id = lastId++
        users.value.push(editedUser.value)
    }
    closeDialog()
}

function initialize() {
    users.value = userStore.users
}
onMounted(() => {
    initialize()
})


</script>
<template>
    <div>
        <v-data-table :headers="headers" :items="users">
            <template v-slot:top>
                <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Users</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <!-- Put Edited Dialog -->
                    <v-dialog v-model="dialog" persistent width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn color="white" style="background-color: rgb(255, 182, 55);" v-bind="props">
                                <v-icon left>mdi-account-plus</v-icon> New User
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title style="background-color: rgb(255, 188, 63)">
                                <span class="text-h5">User Profile</span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedUser.email" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Email"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedUser.fullName" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Full Name"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedUser.password" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" clearable label="Password"
                                                    placeholder="Enter your password"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="4">
                                                <v-combobox v-model="editedUser.roles" :items="['Manager', 'Employee']"
                                                    label="Select roles" multiple :return-object="false"
                                                    allow-overflow></v-combobox>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedUser.salary" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Salary"></v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>

                                </v-form>
                                <small>*Indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDialog()">
                                    Close
                                </v-btn>
                                <v-btn color="orange" variant="text" @click="save()">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- Delete Dialog -->
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
                <v-icon size="small" class="me-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon size="small" @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
    </div>
</template>