<script setup lang="ts">
import { inject, ref, type Ref } from 'vue'
import { useAuthStore } from '@/stores/auth'
import type { User } from '@/types/User'

const authStore = useAuthStore()
const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const emit = defineEmits<{
  located: [string]
}>()

function clickLocate(title: string) {
  emit('located', title)
}

const title = ref('')
</script>

<template>
  <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false" style="background-color: whitesmoke">
    <v-list-item prepend-avatar="https://hobbymaniaz.com.au/cdn/shop/products/O1CN01zM7mRH1v7IcxM1vso__2208460416125.jpg?v=1659096557"
      :title="authStore.userLogin.currentUser.fullName">
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item prepend-icon="mdi-point-of-sale" title='POS' value="pos" :to="{ name: 'pos' }"
        @click="clickLocate('Point Of Sale')"></v-list-item>
      <v-list-item prepend-icon="mdi-package" title='Material' value="material" :to="{ name: 'material' }"
        @click="clickLocate('Material')"></v-list-item>

      <v-list-item prepend-icon="mdi-package-variant" title='Checkstock' value="checkstock" :to="{ name: 'chkstock' }"
        @click="clickLocate('Checkstock')"></v-list-item>
      <v-list-item prepend-icon="mdi-truck-delivery" title='Import Material' value="importmaterial"
        :to="{ name: 'importmaterial' }" @click="clickLocate('Import Material')"></v-list-item>

      <v-list-item prepend-icon="mdi-account-tie" title='Users' value="users" :to="{ name: 'users' }"
        @click="clickLocate('Users')"></v-list-item>
      <v-list-item prepend-icon="mdi-account-group" title='Member' value="member" :to="{ name: 'member' }"
        @click="clickLocate('Member')"></v-list-item>
      <v-list-item prepend-icon="mdi-cash" title='Payment Salary' value="salary" :to="{ name: 'salary' }"
        @click="clickLocate('Payment Salary')"></v-list-item>

        <v-list-item prepend-icon="mdi-clock-check" title='CheckIn / CheckOut' value="checkinout" :to="{ name: 'checkinout' }"
        @click="clickLocate('CheckIn / CheckOut')"></v-list-item>

        <v-list-item prepend-icon="mdi-receipt-text-clock" title='Receipt History' value="receipthistory" :to="{ name: 'receipthistory' }"
        @click="clickLocate('Receipt History' )" ></v-list-item>

      <v-list-item prepend-icon="mdi-login" title='Login' value="login" :to="{ name: 'login' }"
        style="position: fixed; bottom: 0" @click="clickLocate('Login')"></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<style></style>
