<script setup lang="ts">
const links = [
  { link: 'Home' },
  { link: 'About Us' },
  { link: 'Team' },
  { link: 'Services' },
  { link: 'Blog' },
  { link: 'Contact Us' }
]
</script>

<template>
  <v-footer class="bg-grey-lighten-1">
    <v-row justify="center" no-gutters>
      <v-btn
        v-for="link in links"
        :key="link.link"
        color="white"
        variant="text"
        class="mx-2"
        rounded="xl"
      >
        {{ link.link }}
      </v-btn>
      <v-col class="text-center mt-4" cols="12" style="text-align: ;">
        {{ new Date().getFullYear() }} — <strong>D-COFFEE</strong>
      </v-col>
    </v-row>
  </v-footer>
</template>
