<script setup lang="ts">
import { defineProps, defineEmits, ref, computed } from 'vue'
import { type Product } from '@/types/Product'

const props = defineProps<{
  product: Product
}>()

const emit = defineEmits<{
  selectedProduct: [Product, number, number,number]
}>()

const selectedSubCategory = ref(1)
const selectedSweet = ref(2)
const priceUpdateSubC= ref(0)

const isSweetDisabled = computed(() => selectedSubCategory.value === 2)

// const updatedPrice = computed(() => {
//   if (selectedSubCategory.value === 1) {
//     return props.product.price - priceUpdateSubC.value;
//   } else if (selectedSubCategory.value === 2) {
//     return props.product.price + 5 - priceUpdateSubC.value;
//   } else if (selectedSubCategory.value === 3) {
//     return props.product.price + 10 - priceUpdateSubC.value;
//   } else {
//     return props.product.price;
//   }
// }) 

function selectedProduct(p: Product) {

  if (selectedSubCategory.value === 1) {
        priceUpdateSubC.value = 0;
    } else if (selectedSubCategory.value === 2) {
        priceUpdateSubC.value = 5;
    } else if (selectedSubCategory.value === 3) {
        priceUpdateSubC.value = 10;
    }

  

  console.log(p.subCategory)
  console.log(p.sweetLevel)
  emit('selectedProduct', props.product, selectedSubCategory.value, selectedSweet.value,priceUpdateSubC.value)
  if (selectedSubCategory.value === 1) {
        p.price -= priceUpdateSubC.value;
    }

    
}



</script>

<template>
  <v-sheet :style="{ height: product.type === 3 ? '200px' : '290px' }" width="190" elevation="3">
    <div v-if="product.type===1"><v-img :src="`./img/products/coffee${product.id}.png`" height="150" cover @click="selectedProduct" ></v-img></div>
    <div v-if="product.type===2"><v-img :src="`./img/products/tea${product.id}.png`" height="150" cover @click="selectedProduct" ></v-img></div>
    <div v-if="product.type===3"><v-img :src="`./img/products/dessert${product.id}.png`" height="150" cover @click="selectedProduct" ></v-img></div>
    <div style="text-align: center" >{{ product.name }}</div>
    <div style="text-align: center">{{ product.price}} บาท</div>
    <div v-if="product.type !== 3" >
      <v-btn-toggle v-model="selectedSubCategory">
        <v-btn :value="1" small style="width: 50px; height: 50px">เย็น</v-btn>
        <v-btn :value="2" small style="width: 50px; height: 50px">ร้อน</v-btn>
        <v-btn :value="3" small style="width: 50px; height: 50px">ปั่น</v-btn>
      </v-btn-toggle>
    </div>
    <div v-if="product.type !== 3 ">
      
      <v-btn-toggle v-model="selectedSweet">
        <v-btn :value="1" :disabled="isSweetDisabled" style="width: 50px; height: 50px">น้อย</v-btn>
        <v-btn :value="2" :disabled="isSweetDisabled" style="width: 50px; height: 50px">ปานกลาง</v-btn>
        <v-btn :value="3" :disabled="isSweetDisabled" style="width: 50px; height: 50px">มาก</v-btn>
      </v-btn-toggle>
    </div>
  </v-sheet>
</template>

