<script setup lang="ts">
import { ref, provide, computed } from 'vue'
import { RouterLink, RouterView } from 'vue-router'
import MainAppBar from './components/MainAppBar.vue'
import MainMenu from './components/MainMenu.vue'
import MainFooter from './components/MainFooter.vue'
import { watch } from 'vue'
const rail = ref(true)
const drawer = ref(true)

provide('rail', rail)
provide('drawer', drawer)

const footerStyles = computed(() => ({
  position: 'fixed',
  bottom: '0',
  left: '0',
  right: '0',
  marginLeft: rail.value ? '0' : '250px'
}))

watch(drawer, (newDrawerState) => {
  updateFooterPosition(newDrawerState)
})

const updateFooterPosition = (newDrawerState: boolean) => {
  footerStyles.value.marginLeft = newDrawerState ? '250px' : '0'
}
const located = ref('')
function locatedView(title: string) {
  console.log(title)
  located.value = title
}
</script>

<template>
  <v-layout class="rounded rounded-md;">
    <!-- style="background-color: gainsboro" -->
    <MainAppBar :located="located"></MainAppBar>
    <MainMenu @located="locatedView"></MainMenu>

    <v-main class="align-center justify-center" style="min-height: 1000px">
      <div class="pa-6">
        <RouterView></RouterView>
      </div>
    </v-main>

    <!-- <v-container>
            <MainFooter :style="footerStyles" id="main-footer"></MainFooter>
          </v-container> -->
  </v-layout>
</template>

<style scoped>
.v-layout {
  background-image: url('./assets/shop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
