<script lang="ts" setup>
import { useAuthStore } from '@/stores/auth';
import { useCheckInOutStore } from '@/stores/checkInOut';
import type { CheckInOut } from '@/types/CheckInOut';
import { onUnmounted, reactive, watch, watchEffect } from 'vue';
import { computed, ref } from 'vue';



const checkinoutStore = useCheckInOutStore()
const authStore = useAuthStore()
const state = reactive({
    formDate: new Date(),
    currentTime: formatTime(new Date())
});
function formatTime(date: Date): string {
    const day = date.getDate().toString().padStart(2, '0')
    const month = date.getMonth().toString().padStart(2, '') + 1
    const year = date.getFullYear().toString()
    const hours = date.getHours().toString().padStart(2, '0');
    const minutes = date.getMinutes().toString().padStart(2, '0');
    const seconds = date.getSeconds().toString().padStart(2, '0');
    return `${day}/${month}/${year} ${hours}:${minutes}:${seconds} น.`;
}
watchEffect(() => {
    state.currentTime = formatTime(state.formDate);
});
const intervalId = setInterval(() => {
    state.formDate = new Date();
}, 1000);
onUnmounted(() => {
    clearInterval(intervalId);
});

const headers = [
    {
        title: 'No.',
    },
    {
        title: 'User',
        key: 'user',
        value: 'user'
    },
    {
        title: 'Check In',
        key: 'chkIn',
        value: 'chkIn'
    },
    {
        title: 'Check Out',
        key: 'chkOut',
        value: 'chkOut'
    },
    {
        title: 'Total',
        key: 'total',
        value: 'total'
    }

]

const CheckIn = () => {
    console.log('CheckIn')
    checkinoutStore.checkIn()
        ;
    console.log(chkPoint.value?.chkIn)
    checkStatus.value = true
}
const chkPoint = computed(() => chkDataShow.value[chkDataShow.value.length - 1])

const CheckOut = () => {
    const chkPoint = chkDataShow.value[chkDataShow.value.length - 1]
    if (chkPoint.id !== undefined) {
        checkinoutStore.checkOut(chkPoint);
    } else {
        console.error('chkId is undefined. Cannot perform check-out.');
    }
};
const checkStatus = ref(false)

const chkDataShow = computed(() => checkinoutStore.chkData.filter(item => item.userId === authStore.userLogin.currentUser.id));

</script>
<template>
    <div>
        <v-data-table :headers="headers" :items="chkDataShow" show-expand>
            <template v-slot:top>
                <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>CheckIn / CheckOut</v-toolbar-title>
                    <div>{{ state.currentTime }}</div>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>

                    <v-btn color="black" style="background-color: rgb(55, 255, 72);width: 150px;" @click="CheckIn">
                        <v-icon left>mdi-clock-plus</v-icon>CheckIn</v-btn>
                    <v-btn color="black" style="background-color: rgb(255, 103, 103);;width: 150px;" @click="CheckOut">
                        <v-icon left>mdi-clock-minus</v-icon>CheckOut</v-btn>


                </v-toolbar>
            </template>

            <template v-slot:item="{ item, index }">
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.user }}</td>
                    <td>{{ item.chkIn }}</td>
                    <td>{{ item.chkOut }}</td>
                    <td>{{ item.totalTime }}</td>
                </tr>
            </template>



            <template v-slot:no-data>
                <v-btn color="primary">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
    </div>
    <CheckStockDialog></CheckStockDialog>
</template>
